.section-container {
    gap: 20px; 
    position: relative;
    background-color:transparent;
   
    top: -200px;
}
.section-container > div {
    flex: 0 0 calc(20% - 20px); 
    box-sizing: border-box;
    padding: 20px;
}
