.div{
    margin-top: -30px;
}
.main{
    background-color: #666666;

}
.photos{
    background-color: #fff;
    position: relative;
    top: -200px;
}
.swiper{
    position: relative;
}
.section6{
    margin-top: -150px;
}